.AddInputForm {

    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    
    /* padding: 30px 0px 30px 0px; */
    width: 90%;
    height: 90%;
    margin: 5%; 
    padding : 15px 0px 15px 0px;
    
}

.AddImage{
    
    object-fit: contain;
    width: 95%;
    border-radius: 10px;
    /* height: 100%; */
}

.Addform{
    width: 100%;
display: flex;
flex:1;
flex-direction: row;

    
}
.AddFormRightSide{
    margin-bottom: 10px;
   
    display: flex;
    flex: .7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
.AddFormLeftSide{
    /* padding: 10px; */
     margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex: .3;
    width:95%;
    justify-content: center;
    
    object-fit: cover;
   
    
}
.AddFormRightSide > label{
    margin-top: 10px;
  
    width:95%;
    display: flex;
    align-items: center;
}

.input
{
    width: 100%; 
    max-width: 100%; 
    padding:10px;
    margin:0px;
  
    border-radius: 10px;
    
    border: 2px solid #797979;
    font-size: 20px;
    letter-spacing: 1px;
}

.submitBtn {
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
   
    font-size: 20px;
   
    padding:10px;
    border: none;
   
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #A305A6;
   
}

@media screen and (max-width: 768px) {
    .input {
        padding: 5px;
        width: 100%; /* Adjusting width for smaller screens */
        height:auto;
        font-size: 15px;
    }

    .submitBtn {
        padding: 5px;
        width: 100%; 
        margin-top: 0px;
        font-size: 15px;
    }
    .form> label{
        
         width: 100%;
         display: flex;
         align-items: center;
     }
     
}
