.AddInputForm {
    column-rule: #A305A6;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    
    /* padding: 30px 0px 30px 0px; */
    width: 90%;
    height: 90%;
    margin: 5%; 
    padding : 15px 0px 15px 0px;
    
}
.FormHeading{
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 15px; */
    color: #5f5f5f;

}
.AddInputForm:hover{

.FormHeading{
color: #A305A6;
}

    
}

.AddImage{
    
    object-fit: contain;
    width: 95%;
    border-radius: 10px;
    /* height: 100%; */
}

.Addform{
    width: 100%;
display: flex;
flex:1;
flex-direction: row;

    
}
.AddFormRightSide{
    /* margin-bottom: 10px; */
   
    display: flex;
    flex: .7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
.AddFormLeftSide{
    /* padding: 10px; */
     /* margin-bottom: 10px; */
    margin-top: 10px;
    display: flex;
    flex: .3;
    width:95%;
    justify-content: center;
    
    object-fit: cover;
   
    
}
.AddFormRightSide > label{
    margin-top: 10px;
  
    width:95%;
    display: flex;
    align-items: center;
}

.input
{   
    color:#4a4a4a;
    width: 100%; 
    max-width: 100%; 
    padding:10px;
    margin:0px;
  
    border-radius: 10px;
    
    border: 2px solid #797979;
    font-size: 20px;
    letter-spacing: 2px;
}

.submitBtn {
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 100%; 
    padding:10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #A305A6;
}

@media screen and (max-width: 768px) {
    .AddInputForm {
       
        height:auto;
        font-size: 15px;
    }

    .submitBtn {
        padding: 5px;
        width: 100%; 
        margin-top: 0px;
        font-size: 15px;
    }
    .Addform> label{
        
         width: 100%;
         display: flex;
        
         align-items: center;
     }
     .Addform{
        width: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    
        
    }
    .AddFormRightSide{
        /* margin-bottom: 10px; */
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width:100%;
        display: flex;
        flex: .5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       
    }
    .AddFormLeftSide{
        /* padding: 10px; */
         /* margin-bottom: 10px;
        margin-top: 10px; */
        margin: 0px 0px 0px 0px;
        display: flex;
        flex: .5;
        width:100%;
        justify-content: center;
        
        object-fit: cover;
       
        
    }
    
}
