.ManageProduct{
    font-size: 21px;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin: 24px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(109, 109, 109, 0.256);
    
}

.ManageProductBtnCollection{
    display:flex;
    justify-content: space-evenly;
    overflow-wrap: wrap;
    align-items: center;
    
}

.ManageProductBtn{
    color: white;
    font-size: 21px;
    background-color: rgb(33, 89, 255);
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    border: 0px ;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: white;
    box-shadow: 2px 2px 10px 0 rgba(33, 88, 255, 0.419);
}


@media screen and (max-width: 768px) {
    .ManageProduct{
        /* margin: 10px; */
        padding: 30px;
    }
    .ManageProductBtnCollection{
        flex-direction: column;
    }
  
    
}