.ProductDisplay{
 
}
.ProductDisplayTableName{   
  color:rgb(255, 255, 255);
  background-color: #A305A6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding : 15px 0px 15px 0px;
  
}
.ProductDisplayTable {
    overflow-x: auto;
    padding: 15px;
}

.ProductDisplayTable > table{
  background-color: white;
  color: black;   
  width: 100%;
}
  

.ProductDisplayTableHead >  th {
  text-align: left; 
  border-bottom: 3px solid #960B80; 
  padding: 10px;
}

  .ProductDisplayTableBody >  td{
    /* margin: 5px; */
    /* background-color: rgb(63, 255, 29); */
  
     /* Adjust padding as needed */
    text-align: left; /* Center align text */
    border: 0px solid red; /* Example border style */
    padding: 10px;
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
  cursor: pointer;
  }

  .ProductDisplayTableBody:nth-child(even) {
    background-color:rgba(242, 208, 242, 0.552);  /* Lighter color for even rows */
  }
  
  .ProductDisplayTableBody:nth-child(odd) {
    background-color: #F2F2F2; /* Darker color for odd rows */
  }
  .ProductDisplayTableBody:hover{
    background-color: rgba(163, 5, 166, 0.928); 
    color:rgb(255, 255, 255);
    
  }
 
.ImageCard{
  /* background-color: rgb(0, 255, 0); */
  max-height: auto;
  max-width: 100px;
  border-radius: 10px;
  object-fit: contain;

}

.ImageCard > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

  .ProductDisplayTableBody >  td > button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: #3060f0;
  border: none;
  /* padding: 5px;
  margin: 0px; */
  cursor: pointer; 
  }